body {
    text-align: center;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.text-container {
    flex-wrap: wrap;

}

.img {
    width: 10rem
}

hr {
    width: 100%;
    border: solid 0px;
}

.price-details {
    width: 25%;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 2;
    margin: 1rem;
    padding: 1rem;
}

.price-details .btn {
    width: 100%;
}

.discount-price {
    margin: 0;
    font-size: 0.8rem;
    text-decoration: line-through;
}

.count {
    padding: 0.2rem 0.7rem;
}

.counter-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #808080;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 0.1rem 0.6rem 0.2rem;
}

.price-details>div {
    flex: 50%;
}