<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://apna-ui.netlify.app/Components/Style/apna-ui.css">
    <link rel="stylesheet" href="/Components/Filters/filters.css">
    <title>ApnaStore|Filters</title>

</head>

<body>
    <header class="header">
        <h1>ApnaStore</h1>
        <nav class="navbar">
            <ul class="nav">
                <li class="nav-link"> <a href="/index.html">Home</a>
                </li>
                <li class="nav-link"> <a href="/Components/Products/product.html">Shop</p></a>
                </li>
            </ul>
            <ul class="user-nav-link">
                <i class="searchbar fa-solid fa-magnifying-glass"></i> <input type="search"
                    placeholder="Search a product">
                <li class="nav-link"><a href="/Components/Auth/login.html" target="_blank"><i
                            class="nav-icon fa-solid fa-user"></i></a></li>
                <li class="nav-link"><a href="/Components/Wishlist/wishlist.html"><i class="nav-icon fa-solid fa-heart"></i></a></li>
                <li class="nav-link"><a href="/Components/Cart/cart.html"><i class="nav-icon fa-solid fa-cart-shopping"></i></a></li>
                <li class="nav-link"> <a href="/Components/Auth/login.html"><i class="logout-btn fa-solid fa-right-from-bracket"></i></a> </li>
            </ul>
        </nav>
    </header>
    <aside>
        <p> <span class="filter">Filters </span><a href="">Clear All</a></p>

        <h4> Sort By Price</h4>
        <p><input type="radio" name="Sort By Price" checked>
            Featured</p>
        <p><input type="radio" name="Sort By Price">
            Price Low to High</p>
        <p><input type="radio" name="Sort By Price">
            Price High to Low</p>
        <h4>Sort By Category</h4>
        <p><input type="checkbox" checked>Men Clothing</p>
        <p><input type="checkbox">Women Clothing</p>
        <h4>Sort By Rating</h4>
        <p><input type="radio" name="Sort By Rating" checked>4 Stars & above</p>
        <p><input type="radio" name="Sort By Rating">3 Stars & above</p>
        <p><input type="radio" name="Sort By Rating">2 Stars & above</p>
        <p><input type="radio" name="Sort By Rating">1 Stars & above</p>
    </aside>

    <footer>

        <p>Made With Love By Ansh</p>
        <ul class="footer-social">
            <li class="footer-link"><a href="https://www.linkedin.com/anshtripathi01" target="blank"><i
                        class="fab fa-linkedin fa-lg" aria-hidden="true"></i>
                </a></li>
            <li class="footer-link"><a href="https://www.github.com/anshtripathi01" target="blank"><i
                        class="fab fa-github fa-lg" aria-hidden="true"></i>
                </a></li>
            <li class="nav-link"><a href="https://www.twitter.com/ansh_tripathi01"><i class="fab fa-twitter fa-lg"
                        aria-hidden="true"></i></a></li>
        </ul>
        <h6>&copy; 2021 ApnaUI Design</h6>

    </footer>
</body>

</html>