<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://apna-ui.netlify.app/Components/Style/apna-ui.css">
    <link rel="stylesheet" href="/Components/Filters/filters.css">
    <title>ApnaStore|Filters</title>

</head>

<body>
    <header class="header">
        <h1>ApnaStore</h1>
        <nav class="navbar">
            <ul class="nav">
                <li class="nav-link"> <a class="" href="#">Home</a>
                </li>
                <li class="nav-link"> <a class="" href="#">Shop</p></a>
                </li>
            </ul>
            <ul class="user-nav-link">
                <i class="searchbar fa-solid fa-magnifying-glass"></i> <input type="search"
                    placeholder="search a product">
                <li class="nav-link"><a href="https://www.github.com/anshtripathi01" target="_blank"><i
                            class="nav-icon fa-solid fa-user"></i></a></li>
                <li class="nav-link"><a href=""><i class="nav-icon fa-solid fa-heart"></i></a></li>

                <li class="nav-link"><a href=""><i class="nav-icon fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </header>
    <aside class="filters-container">
        <p> <span class="filter-title">Filters </span><a href="">Clear All</a></p>

        <h4> Sort By Price</h4>
        <p><input type="radio">
            Featured</p>
        <p><input type="radio">
            Price Low to High</p>
        <p><input type="radio">
            Price High to Low</p>
        <h4>Category</h4>
        <p><input type="checkbox">Men Clothing</p>
        <p><input type="checkbox">Women Clothing</p>
        <h4>Rating</h4>

        <p><input type="radio">4 Stars & above</p>
        <p><input type="radio">3 Stars & above</p>
        <p><input type="radio">2 Stars & above</p>
        <p><input type="radio">1 Stars & above</p>

    </aside>

</body>

</html>