body {
    text-align: center;
}

.wishlist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.btn {
    width: 100%;
}

.card {
    width: 12rem;
    height: 18.5rem;
    margin: 1rem 0.5rem;
}

.price {
    margin: 0.2rem 0 0 1.5rem;
}

.product-title {
    margin: 0.1rem 0 0 1.5rem;

}

.like-btn {
    color: #ff0000;
}