<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://apna-ui.netlify.app/Components/Style/apna-ui.css">
    <link rel="stylesheet" href="/Components/Auth/login.css">
    <title>ApnaUI|Sign</title>

</head>

<body>
    <header class="header">
        <h1>ApnaStore</h1>
        <nav class="navbar">
            <ul class="nav">
                <li class="nav-link"> <a class="" href="/Components/Home/home.html">Home</a>
                </li>
                <li class="nav-link"> <a class="" href="/Components/Products/product.html">Shop</p></a>
                </li>
            </ul>
            <ul class="user-nav-link">
                <i class="searchbar fa-solid fa-magnifying-glass"></i> <input type="search"
                    placeholder="search a product">
                <li class="nav-link"><a href="https://www.github.com/anshtripathi01" target="_blank"><i
                            class="nav-icon fa-solid fa-user"></i></a></li>
                <li class="nav-link"><a href=""><i class="nav-icon fa-solid fa-heart"></i></a></li>

                <li class="nav-link"><a href=""><i class="nav-icon fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </header>
    <div class="form-container">
        <form class="form" action="">
            <h2 class="form-heading">Login</h2>
            <label class="form-label" for="Email">Email</label>
            <input class="form-input" type="email" placeholder="example@email.com">
            <label class="form-label" for="password">Password</label>
            <input class="form-input" type="password">
            <span class="form-checkbox">
                <input type="checkbox">
                <label for="checkbox">I agree with terms</label>
            </span>
            <span class="form-btn">
                <a class="btn btn-solid-primary" href="">Login</a>
                <a class="btn btn-outline-primary" href="/Components/Auth/signin.html">Signup</a>
            </span>
        </form>
    </div>


    <footer>

        <p>Made With Love By Ansh</p>
        <ul class="footer-social">
            <li class="footer-link"><a href="https://www.linkedin.com/anshtripathi01" target="blank"><i
                        class="fab fa-linkedin fa-lg" aria-hidden="true"></i>
                </a></li>
            <li class="footer-link"><a href="https://www.github.com/anshtripathi01" target="blank"><i
                        class="fab fa-github fa-lg" aria-hidden="true"></i>
                </a></li>
            <li class="nav-link"><a href="https://www.twitter.com/ansh_tripathi01"><i class="fab fa-twitter fa-lg"
                        aria-hidden="true"></i></a></li>
        </ul>
        <h6>&copy; 2021 ApnaUI Design</h6>

    </footer>
</body>

</html>